.wrapper{
    width: 500px;
    margin: 120px auto;
    padding: 29px;
    border-radius: 7px;
    background: dimgrey;
    box-shadow: 0px 10px 320px 0px grey;
}

input[type="text"]{
    padding: 10px;
    margin: 10px auto;
    display: block;
    border-radius: 1px solid;
    background: none;
    width: 300px;
    color: black;
}

input[type="submit"]{
    padding: 10px;
    display: block;
    border-radius: 3px;
    margin-left: 200px;
}

#removeField{
    float: right;
}
